
.letter {
    border-radius: 50%;
    width: 10rem;
    padding: 5%;
    margin: 1%;

    border: 2px solid #000000;
    color: #000000;
    text-align: center;
    display: inline-block;

    font: 150% Arial, sans-serif;
}

.numeros 
{
    width: 100%
    height: 100%
}

#btnBingo {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    background-color: #C10021;
    text-align: center;
    margin: 30%;
    font-size: 2rem;
    font-weight: bolder;
    border: 4px solid #000;
}

.tf{
	background-color: #E8B410;
}

.to{
	background-color: #027CBD;
}

.tp{
	background-color: #6DA53A;
}

.tr{
	background-color: #CB7619;
}

.te{
	background-color: #C10021;
}
