
.numberCircle {
    border-radius: 50%;
    width: 4%;
    height: 10%;
    padding: 2%;
    margin: 0.5%;

    border: 2px solid #000000;
    color: #000000;
    text-align: center;
    display: inline-block;
    cursor: pointer;

    font: 100% Arial, sans-serif;
}

.btnApagado{
    background-color: #fff;
}


.btnPrendido{
    background-color: red;
}