

.numberCircle {
    border-radius: 50%;
    width: 120vm;
    height: 120vm;
    padding: 2%;
    margin: 10%;

    border: 2px solid #000000;
    color: #000000;
    text-align: center;
    display: inline-block;
    cursor: pointer;

    font: 32px Arial, sans-serif;
}

.btnPrendido{
    background-color: red;
}
.btnApagado{
    background-color: #fff;
}