
h1{
	font-family: 'Julius Sans One', sans-serif;
}

.texto{
	margin: 5%;
}

#instrucciones{
	font-family: 'Archivo Narrow', sans-serif;
}

#mensajeGanador{
	text-align: center;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 4rem;
}