.letterCircle {
    border-radius: 50%;
    height: 10%;
    width: 5%;
    padding: 1%;
    border: 2px solid #000000;
    color: #000000;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    display: inline-table;
    cursor: pointer;
    margin-bottom: 1%;
    font: 150% Arial, sans-serif;
}

.tf{
	background-color: #E8B410;
}

.to{
	background-color: #027CBD;
}

.tp{
	background-color: #6DA53A;
}

.tr{
	background-color: #CB7619;
}

.te{
	background-color: #C10021;
}
